body{
    background-image: url("looney_toons.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    margin: 0;
}
header{
    padding: 25px;
    color: black;
    position: sticky;
    top: 0;
}
.logobox{
    border: 4px solid black;
    display: inline-block;
    width: 150px;
    font-size: larger;
    font-weight: 520;
    cursor: pointer;
    transition: all 0.5s;
}
.logobox:hover{
    color: brown;
}
.navbox{
    border: 4px solid green;
    width: 520px;
    position: absolute;
    right: 25px;
    display: inline-block;
}
.navbox>a{
    color: black;
    margin: 25px;
    text-decoration: none;
    transition: 0.5s;
}
.navbox>a:hover{
    color: brown;
    font-size: xx-large;
}
.heading{
    color: salmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 82px;
    position: relative;
    top: 52px;
    left: 42px;
    width: 420px;
}
.heading+h1{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 82px;
    position: relative;
    left: 82px;
    width: 520px;
}
.heading+h1+p{
    color:brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    position: relative;
    width: 420px;
    word-spacing: 4px;
    top: 25px;
    left: 82px;
}
.button{
    width: 125px;
    padding: 25px;
    background-color: chartreuse;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 82px;
    top: 25px;
    font-size: x-large;
    font-weight: 525px;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
    border-radius: 8px;
}
.button:hover{
    background-color: salmon;
    color: black;
}
footer{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:fixed;
    bottom:0;
}